.Login {
    font-family: sans-serif;
    text-align: center;
  }


/* body {
  display: -webkit-box;
  display: flex;
  -webkit-box-pack: center;
          justify-content: center;
  -webkit-box-align: center;
          align-items: center;
  min-height: 100vh;
  background: white;
} */

input {
  margin: 5px;
}
#btnStunningHover {
  margin: 20px
}
#btnStunningHover {
  display: -webkit-inline-box;
  display: inline-flex;
  -webkit-box-pack: center;
          justify-content: center;
  align-content: center;
  position: relative;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  background: #f72359;
  padding: 1em 2em;
  border: none;
  color: white;
  font-size: 1.2em;
  cursor: pointer;
  outline: none;
  overflow: hidden;
  border-radius: 100px;
}
#btnStunningHover > * {
  position: relative;
  pointer-events: none;
}
#btnStunningHover::before {
  --size: 400px;
  content: '';
  position: absolute;
  left: calc( -1 * var(--size) / 2 );
  top: calc( -1 * var(--size) / 2 );
  width: var(--size);
  height: var(--size);
  background-image: radial-gradient(circle closest-side, #4405f7, #f72359);
  -webkit-transition: opacity .25s linear;
  transition: opacity .25s linear;
  -webkit-transform: translate(var(--x), var(--y));
          transform: translate(var(--x), var(--y));
  opacity: 0;
}
#btnStunningHover:hover::before {
  opacity: 1;
}